<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">
    <title>{% block title %}{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/21c305aa77.js" crossorigin="anonymous"></script>
    
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/../shared/css/font-awsome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />

    {% block headAppend %}{% endblock %}
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
    <header class="header">
        <div class="header__content">
            <div class="header__logo">
                <a href="{{ base_url }}">Nihlén</a>
            </div>

            <div class="header__nav">
                <input class="header__nav__checkbox" type="checkbox" id="navmenu">
                <label class="header__nav__toggle header__nav__toggle--open" for="navmenu">
                    <i class="header__nav__toggle__open fas fa-hamburger"></i>
                </label>
                <label class="header__nav__toggle header__nav__toggle--close" for="navmenu">
                    <i class="header__nav__toggle__open fas fa-times"></i>
                </label>
                <nav class="header__nav__menu">
                    <ul>
                        {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                            <li class="header__nav__menu__item {{ page.id == current_page.id ? 'is-active' : '' }}">
                                <a href="{{ page.url }}">
                                    <div class="icon">
                                        {% if page.id == 'index' %}<i class="fas fa-home"></i>
                                        {% elseif page.id == 'docs/index' %}<i class="fas fa-book"></i>
                                        {% elseif page.id == 'example/index' %}<i class="fas fa-question"></i>
                                        {% elseif page.id == 'report/index' %}<i class="fas fa-flag-checkered"></i>
                                        {% endif %}
                                    </div>
                                    {{ page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
        
    <footer class="footer">
        <div class="footer__section">
            <div class="footer__copyright">
                &copy; <a target="_blank" href="https://github.com/scriptcoded">Malcolm Nihlén</a> 2020-{{ 'now' | date('Y') }}
            </div>
    
            <div class="footer__links">
                <a class="footer__link" target="_blank" href="https://github.com/scriptcoded/dbwebb-design">GitHub</a>
            </div>
        </div>
    </footer>

    <script src="{{ theme_url }}/../shared/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/responsive-navbar.js" type="text/javascript"></script>
</body>
</html>
