{% extends "base.twig" %}

{% block content %}
    {{ content }}
    
    <div class="gallery">
        {% for image in meta.Images %}
            <a class="gallery__image" href="{{ base_url ~ image.url }}" target="_blank" title="{{ image.name }}">
                <picture>
                    <source media="(min-width: 980px)" srcset="{{ base_url ~ image.url }}">
                    <source media="(min-width: 640px)" srcset="{{ base_url ~ image.url }}?w=979">
                    <img src="{{ base_url ~ image.url }}?w=639" alt="{{ image.name }}">
                </picture>
            </a>
        {% endfor %}
    </div>

{% endblock %}
