{% extends "base.twig" %}

{% block headAppend %}

{# <link rel="stylesheet" href="{{ theme_url }}/css/kmom.css" type="text/css" /> #}
<link rel="stylesheet" href="{{ theme_url }}/css/kmom-dark.css" type="text/css" />

{% endblock %}

{% block content %}
    <div class="kmom">
        <ul class="kmom-sidebar">
            {% for item in config.reports %}
                <li class="kmom-sidebar__item {{ current_page.id ends with item.link ? 'is-active' : '' }}">
                    <a href="{{ base_url }}/report/{{ item.link }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="kmom-content">
            {{ content }}
        </div>
    </div>
{% endblock %}
