{% extends "base.twig" %}

{% block headAppend %}

{# <link rel="stylesheet" href="{{ theme_url }}/css/page-list.css" type="text/css" /> #}
<link rel="stylesheet" href="{{ theme_url }}/css/page-list-dark.css" type="text/css" />

{% endblock %}

{% block content %}
    <div class="landingpage">
        {{ content }}

        {% for item in items %}
            <a href="{{ base_url }}/{{ link_prefix }}/{{ item.link }}" class="kmom-box {{ item.wide ? 'is-wide' : '' }}">
                <div class="kmom-box__header">
                    <div class="kmom-box__title">
                        {{ item.name }}
                    </div>
                    <div class="kmom-box__button">
                        <i class="far fa-angle-right"></i>
                    </div>
                </div>
                <div class="kmom-box__content">
                    {{ item.text }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
